{% extends 'secondary.twig' %}

{% block affichageFichiers %} 

    {% for affichageFichier in listeDossier %}

        {% if affichageFichier.isDir == true %}
        <a href="?dossier={{affichageFichier.fichier}}" class="pl-2 pr-2"> <img width="70px" height="70px"  src="media/{{affichageFichier.fichier}}folder.png" ></a>
        {% endif %}

    {% endfor %}

    {% for affichageFichier in listeFichier %}

        {% if affichageFichier.isDir == false %}
            <a href="#" class="pl-2 pr-2"> <img width="70px" height="70px"  src="media/{{affichageFichier.extension}}.svg">
            <br>{{affichageFichier.fichier}} </a>
        {% endif %}

    {% endfor %}
    
{% endblock %}
    

