{% extends 'secondary.twig' %}

{% block affichageFichiers %} 

    {% for affichageFichier in liste %}

        {% if affichageFichier.isDir == true %}
            <a href="{{affichageFichier.fichier}}" > <img width="70px" height="70px" src="media/{{affichageFichier.fichier}}folder.png"></a>
        {% else %}

       <img width="70px" height="70px" src="media/{{affichageFichier.extension}}.svg"> {{affichageFichier.fichier}}
        {% endif %}

    {% endfor %}
    
{% endblock %}

