{% extends 'layout.twig' %}


{% block title %}
<title>Explorateur de fichiers</title>


{% endblock %}

{% block header %} 
<h1 class="text-center">Explorateur de fichiers</h1>
{% endblock %}

{% block realpatch %}

{{ realpath }}

{% endblock %}


{% block bouton %}


<button class="btnBack" onclick="history.go(-1);"><i class="fas fa-chevron-circle-right"></i></button>
<button class="btnForward" onclick="history.go(1);"><i class="fas fa-chevron-circle-left"></i></button>

{% endblock %}



{% block nav %}
    {% for affichageFichier in listeDossier %}

    {% if affichageFichier.isDir == true %}
        <div><a  onclick="dossier_click()" href="#"> <img width="70px" height="70px"  src="media/{{affichageFichier.fichier}}folder.png" ></a></div>
    {% endif %}

    {% endfor %}

    {% for affichageFichier in listeFichier %}

    {% if affichageFichier.isDir == false %}
        <div class="d-flex flex-wrap"><div class="test"><a href="#"> <img width="70px" height="70px"  src="media/{{affichageFichier.extension}}.svg">
        <br>{{affichageFichier.fichier}} </a></div></div>
    {% endif %}

    {% endfor %}
{% endblock %}

{% block content %}

{% endblock %}