{% extends 'layout.twig' %}

{% block head %}
Deuxième page
{% endblock %}

{% block title %}
Explorateur de fichiers
lalal


<button onclick="history.go(-1);">Retour </button>
<button onclick="history.go(1);">Avant </button>

{% endblock %}

{% block content %}


{% endblock %}